@mixin circle($label, $color: $pink, $color-font: $white, $position: 'before') {
  &::#{$position} {
    content: '#{$label}';
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    background: $color;
    color: $color-font;
    border: 3px solid $color-font;
    border-radius: 2rem 2rem 0;
    text-align: center;
    line-height: 2rem;

    @if $position == 'after' {
      right: 2rem;
      bottom: -2rem;
    } @else if $position == 'before' {
      left: calc(-2rem);
      top: calc(-2rem);
    }
  }
}

@mixin focus_order_circle($label) {
  @include circle($label, $color: $purple);
}

@mixin ally_name($label) {
  @include circle($label, $color: $blue, $position: 'after');
  &::after {
    width: auto;
    min-width: 180px;
    font-size: 0.85rem;
    text-transform: none;
    border-radius: 2rem 0 2rem 2rem;
  }
}

@mixin button_label($label) {
  @include circle($label, $position: 'after', $color: $black);
  &::after {
    width: auto;
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}

@mixin element_type($label) {
  @include circle($label, $position: 'before', $color: $green);
}

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: $white;
  color: $primary;
  box-shadow: 0 0 0 2px $purple;

  &:hover {
    box-shadow: 0 0 0 0.25rem $pink;
    cursor: pointer;
  }

  .card__img {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));

    img {
      width: 100%;
    }
  }

  &--low-fi {
    .card__img {
      background: $grey;
      clip-path: none;
    }
  }

  &--show-al {
    .card__button {
      @include ally_name('Go to modify card page');
    }
  }

  &--show-fo {
    @include focus_order_circle(1);
    .card__text {
      //   position: relative;
      small {
        a {
          position: relative;
          @include focus_order_circle(3);
        }
      }
    }
    .card__button {
      @include focus_order_circle(2);
    }

    + .card--show-fo {
      @include focus_order_circle(4);
      position: relative;
      small {
        a {
          position: relative;
          @include focus_order_circle(5);
        }
      }

      + .card--show-fo {
        @include focus_order_circle(6);
        position: relative;
        .card__button {
          @include focus_order_circle(7);
        }
      }
    }
  }

  &--show-et {
    @include element_type('L');

    .card__text {
      small {
        a {
          position: relative;
          @include element_type('L');
        }
      }
    }

    .card__button {
      @include element_type('L');
    }
  }

  &--wireframe {
    &:hover {
      box-shadow: 0 0 0 0.25rem $black;
      cursor: pointer;
      border-color: $grey;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem $black;
    }

    .card__img {
      background: $grey;
      clip-path: none;
    }

    .card__text {
      h2 {
        a {
          color: $primary;
          &::after {
            display: none;
          }
        }
      }

      small {
        a {
          color: $primary;
          &:focus {
            background: $grey;
            color: $white;
            outline-color: $grey;
          }
        }
      }
    }

    .button.card__button {
      border-color: $grey;
      background: $white;
      color: $grey;

      &:hover {
        background: $grey;
        color: $white;
        border-color: $white;
      }

      &:focus {
        background: $white;
        outline: 3px dashed $black;
        color: $grey;
      }
    }
  }

  .card__button {
    .fa {
      color: inherit;
    }
  }
}

.button.card__button {
  border: 2px solid $white;
  color: $white;
  background: $purple;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 10px;
  border-radius: 100%;
  outline: none;

  &:hover {
    background: $pink;
    color: $white;
  }

  &:focus {
    border-color: $white;
    background: $pink;
    color: $white;
    box-shadow: none;
    outline: none;
  }
}

.card__text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  small {
    a {
      position: relative;
      padding: 0;
      color: $primary;

      &:visited {
        color: $primary;
      }

      &:hover {
        font-weight: bold;
      }

      &:focus {
        outline: 2px solid $pink;
        background: $pink;
        color: $white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  h2 {
    margin: 0;

    a {
      color: $primary;
      text-decoration: none;

      &:visited {
        color: $primary;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &:hover,
      &:focus {
        outline: none;

        &::after {
          border-radius: 4px;
          box-shadow: 0 0 0 0.25rem $pink;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  > :last-child {
    margin-top: auto;
    padding-top: 0.75rem;
  }
}
