$white: #fff;
$black: #272727;
$red: #ee2c24;
$green: #048173;
$blue: #2671ba;
$blue-10: #9cb6fb;
$yellow: #fec166;
$blue-light: #2f78c6;
$grey-light: #f6fcff;

$grey: #757575;
$grey-dark: #666666;
$grey-50: rgba($grey, 0.5);
$grey-30: rgba($grey, 0.3);

$purple: #201d43;
$pink: #e12d3b;

$primary: $purple;
$secondary: $pink;
